In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df_tracking = pd.read_csv("C:/Users/Ousmane Kontao/Desktop/Projet_Data/data_brute/tracking GPS - pedagogie emergente.csv", low_memory=False) 
df_tracking.drop(columns=["Unnamed: 0", "Position"], inplace=True)
df_seq = pd.read_csv("C:/Users/Ousmane Kontao/Desktop/Projet_Data/data_brute/event sequencage - pedagogie emergente.csv", sep=';')
df_infos = pd.read_csv("C:/Users/Ousmane Kontao/Desktop/Projet_Data/data_brute/informations - pedagogie emergente.csv", sep=';')

In [ ]:
df_tracking.head()

   Possession GPS  Time         X          Y Team  Player  Frame ID
0           1  12  0.24 -4.859677 -10.750143  Att     3.0    2.0  3
1           1  12  0.26 -4.820556 -10.794123  Att     3.0    2.0  3
2           1  12  0.28 -4.781435 -10.838104  Att     3.0    2.0  3
3           1  12  0.30 -4.742313 -10.882084  Att     3.0    3.0  3
4           1  12  0.32 -4.689796 -10.925258  Att     3.0    3.0  3

In [ ]:
df_tracking_joueurs = df_tracking[df_tracking["GPS"] != "Ball"]
joueurs_par_frame = df_tracking_joueurs.groupby("Frame")["Player"].nunique()
joueurs_moyens_par_frame = joueurs_par_frame.mean()
print("Nombre moyen de joueurs par frame :", joueurs_moyens_par_frame)

Nombre moyen de joueurs par frame : 13.0

In [5]:
df = pd.read_csv("C:/Users/Ousmane Kontao/Desktop/Projet_Data/DATABASE/data_pierre/export/AGEN_BALL_EMERGENT.csv", low_memory=False)
df = df.sort_values(by=["Time", "Possession"], ascending=[True, True])
df = df.reset_index(drop=True)
df

,Expe,Possession,seq,Condition,Serie,Defense,Cote,Position,Time,Quality,GPS,X,Y,Team,Event,Passe,Composition
0,AGEN,1,EMERGENT_PRE_SERRE_DROITE,EMERGENT,PRE,SERRE,DROITE,37300.0,0.00,62.30,6.0,0.000000,0.000000,BAL,PASSE,1,1.0
1,AGEN,2,EMERGENT_PRE_PIED_DROITE,EMERGENT,PRE,PIED,DROITE,64260.0,0.00,69.74,24.0,0.000000,0.000000,BAL,PASSE,1,1.0
2,AGEN,3,EMERGENT_PRE_OUVERT_DROITE,EMERGENT,PRE,OUVERT,DROITE,99220.0,0.00,62.60,15.0,0.000000,0.000000,BAL,PASSE,1,1.0
3,AGEN,4,EMERGENT_PRE_SERRE_DROITE,EMERGENT,PRE,SERRE,DROITE,129900.0,0.00,66.70,12.0,0.000000,0.000000,BAL,PASSE,1,1.0
4,AGEN,5,EMERGENT_PRE_OUVERT_DROITE,EMERGENT,PRE,OUVERT,DROITE,161800.0,0.00,74.90,18.0,0.000000,0.000000,BAL,PASSE,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26671,AGEN,20,EMERGENT_INTERVENTION_OUVERT_GAUCHE,EMERGENT,INTERVENTION,OUVERT,GAUCHE,985100.0,36.04,68.30,17.0,36.133608,4.231362,BAL,COURSE,19,3.0
26672,AGEN,20,EMERGENT_INTERVENTION_OUVERT_GAUCHE,EMERGENT,INTERVENTION,OUVERT,GAUCHE,985120.0,36.06,67.90,17.0,36.164221,4.219956,BAL,COURSE,19,3.0
26673,AGEN,20,EMERGENT_INTERVENTION_OUVERT_GAUCHE,EMERGENT,INTERVENTION,OUVERT,GAUCHE,985140.0,36.08,67.50,17.0,36.194834,4.208550,BAL,COURSE,19,3.0
26674,AGEN,20,EMERGENT_INTERVENTION_OUVERT_GAUCHE,EMERGENT,INTERVENTION,OUVERT,GAUCHE,985160.0,36.10,67.10,17.0,36.225446,4.197144,BAL,COURSE,19,3.0
26675,AGEN,20,EMERGENT_INTERVENTION_OUVERT_GAUCHE,EMERGENT,INTERVENTION,OUVERT,GAUCHE,985180.0,36.12,NaN,NaN,NaN,NaN,BAL,VOL,19,NaN

In [15]:
df["GPS"].unique()

array([ 6., 24., 15., 12., 18., 17., nan])

In [11]:
df_infos = pd.read_csv("C:/Users/Ousmane Kontao/Desktop/Projet_Data/data_pierre/info_GPS/agen_emergent.csv", sep=';')
df_infos

    GPS  player Team
0     6       1  Att
1    24       2  Att
2    12       3  Att
3    18       4  Att
4    15       5  Att
5    17       6  Att
6    20       1  Def
7    21       2  Def
8    23       3  Def
9    22       4  Def
10    7       5  Def
11   16       6  Def