In [28]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
import numpy as np

In [29]:
df = pd.read_csv('C:/Users/Rémi/Documents/stage/stage_Dynateam/Stage_DynaTeam/data/donnees_brute/Etude 4.3. rugby/data/tracking GPS - pedagogie emergente.csv')

C:\Users\Rémi\AppData\Local\Temp\ipykernel_9360\1202827954.py:1: DtypeWarning: Columns (2,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/Rémi/Documents/stage/stage_Dynateam/Stage_DynaTeam/data/donnees_brute/Etude 4.3. rugby/data/tracking GPS - pedagogie emergente.csv')

In [30]:
df

,Unnamed: 0,Possession,GPS,Time,X,Y,Team,Player,Frame,Position,ID
0,1,1,12,0.24,-4.859677,-10.750143,Att,3.0,2.0,240.0,3
1,2,1,12,0.26,-4.820556,-10.794123,Att,3.0,2.0,260.0,3
2,3,1,12,0.28,-4.781435,-10.838104,Att,3.0,2.0,280.0,3
3,4,1,12,0.30,-4.742313,-10.882084,Att,3.0,3.0,300.0,3
4,5,1,12,0.32,-4.689796,-10.925258,Att,3.0,3.0,320.0,3
...,...,...,...,...,...,...,...,...,...,...,...
220817,220818,43,Ball,2178.76,36.115058,23.408468,Att,2.0,21787.0,2178760.0,Ball
220818,220819,43,Ball,2178.78,36.213258,23.401453,Att,2.0,21787.0,2178780.0,Ball
220819,220820,43,Ball,2178.80,36.311458,23.394437,Att,2.0,21788.0,2178800.0,Ball
220820,220821,43,Ball,2178.82,36.408081,23.422931,Att,2.0,21788.0,2178820.0,Ball
220821,220822,43,Ball,2178.84,36.504704,23.451425,Att,2.0,21788.0,2178840.0,Ball

In [31]:
df_possession_1 = df[(df['Possession'] == 1) & (df['GPS'] != 'Ball')]
df_possession_1

,Unnamed: 0,Possession,GPS,Time,X,Y,Team,Player,Frame,Position,ID
0,1,1,12,0.24,-4.859677,-10.750143,Att,3.0,2.0,240.0,3
1,2,1,12,0.26,-4.820556,-10.794123,Att,3.0,2.0,260.0,3
2,3,1,12,0.28,-4.781435,-10.838104,Att,3.0,2.0,280.0,3
3,4,1,12,0.30,-4.742313,-10.882084,Att,3.0,3.0,300.0,3
4,5,1,12,0.32,-4.689796,-10.925258,Att,3.0,3.0,320.0,3
...,...,...,...,...,...,...,...,...,...,...,...
10486,10487,1,40,16.28,6.548697,6.346741,Def,16.0,162.0,16280.0,1
10487,10488,1,40,16.30,6.548201,6.349637,Def,16.0,163.0,16300.0,1
10488,10489,1,40,16.32,6.548201,6.349637,Def,16.0,163.0,16320.0,1
10489,10490,1,40,16.34,6.548201,6.349637,Def,16.0,163.0,16340.0,1
10490,10491,1,40,16.36,6.548201,6.349637,Def,16.0,163.0,16360.0,1

In [32]:
print(df_possession_1['X'].min())
print(df_possession_1['X'].max())
print(df_possession_1['Y'].min())
print(df_possession_1['Y'].max())

-6.96901449933595
39.8103755796581
-28.0922668902807
6.59522526097837

In [33]:
players = df_possession_1['Player'].unique()
players

array([ 3., 12., 13.,  6.,  1.,  2., 11., 15., 14., 17.,  5.,  4., 16.])

In [34]:
player_data = {player: df_possession_1[df_possession_1['Player'] == player] for player in players}

player_data[2]

,Unnamed: 0,Possession,GPS,Time,X,Y,Team,Player,Frame,Position,ID
4035,4036,1,29,0.24,-0.246097,-3.833314,Att,2.0,2.0,240.0,2
4036,4037,1,29,0.26,-0.215580,-3.853425,Att,2.0,2.0,260.0,2
4037,4038,1,29,0.28,-0.185062,-3.873537,Att,2.0,2.0,280.0,2
4038,4039,1,29,0.30,-0.154545,-3.893649,Att,2.0,3.0,300.0,2
4039,4040,1,29,0.32,-0.093058,-3.923358,Att,2.0,3.0,320.0,2
...,...,...,...,...,...,...,...,...,...,...,...
4837,4838,1,29,16.28,14.341568,-7.568276,Att,2.0,162.0,16280.0,2
4838,4839,1,29,16.30,14.346403,-7.557011,Att,2.0,163.0,16300.0,2
4839,4840,1,29,16.32,14.348799,-7.544673,Att,2.0,163.0,16320.0,2
4840,4841,1,29,16.34,14.351196,-7.532336,Att,2.0,163.0,16340.0,2
4841,4842,1,29,16.36,14.353592,-7.519998,Att,2.0,163.0,16360.0,2

In [35]:
df_possession_1_ball = df[(df['Possession'] == 1) & (df['GPS'] == 'Ball')]
df_possession_1_ball

,Unnamed: 0,Possession,GPS,Time,X,Y,Team,Player,Frame,Position,ID
205049,205050,1,Ball,0.24,-0.246097,-3.833314,Att,2.0,2.0,240.0,Ball
205050,205051,1,Ball,0.26,-0.329845,-4.078137,NaN,NaN,NaN,260.0,Ball
205051,205052,1,Ball,0.28,-0.413593,-4.322960,NaN,NaN,NaN,280.0,Ball
205052,205053,1,Ball,0.30,-0.497341,-4.567783,NaN,NaN,NaN,300.0,Ball
205053,205054,1,Ball,0.32,-0.581089,-4.812606,NaN,NaN,NaN,320.0,Ball
...,...,...,...,...,...,...,...,...,...,...,...
205851,205852,1,Ball,16.28,39.558478,0.102267,Att,6.0,162.0,16280.0,Ball
205852,205853,1,Ball,16.30,39.629637,0.095087,Att,6.0,163.0,16300.0,Ball
205853,205854,1,Ball,16.32,39.689883,0.072618,Att,6.0,163.0,16320.0,Ball
205854,205855,1,Ball,16.34,39.750129,0.050149,Att,6.0,163.0,16340.0,Ball
205855,205856,1,Ball,16.36,39.810376,0.027681,Att,6.0,163.0,16360.0,Ball

In [36]:
df_possession_1['Carrier'] = False
df_possession_1

C:\Users\Rémi\AppData\Local\Temp\ipykernel_9360\1925879037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_possession_1['Carrier'] = False

,Unnamed: 0,Possession,GPS,Time,X,Y,Team,Player,Frame,Position,ID,Carrier
0,1,1,12,0.24,-4.859677,-10.750143,Att,3.0,2.0,240.0,3,False
1,2,1,12,0.26,-4.820556,-10.794123,Att,3.0,2.0,260.0,3,False
2,3,1,12,0.28,-4.781435,-10.838104,Att,3.0,2.0,280.0,3,False
3,4,1,12,0.30,-4.742313,-10.882084,Att,3.0,3.0,300.0,3,False
4,5,1,12,0.32,-4.689796,-10.925258,Att,3.0,3.0,320.0,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
10486,10487,1,40,16.28,6.548697,6.346741,Def,16.0,162.0,16280.0,1,False
10487,10488,1,40,16.30,6.548201,6.349637,Def,16.0,163.0,16300.0,1,False
10488,10489,1,40,16.32,6.548201,6.349637,Def,16.0,163.0,16320.0,1,False
10489,10490,1,40,16.34,6.548201,6.349637,Def,16.0,163.0,16340.0,1,False
10490,10491,1,40,16.36,6.548201,6.349637,Def,16.0,163.0,16360.0,1,False

In [37]:
for i in df_possession_1_ball.iterrows():
    row = i[1]  # i[0] est l'index, i[1] est la série de données (la ligne)
    if row['Player'] in [1, 2, 3, 4, 5, 6]:
        time = row['Time']
        player = row['Player']
        df_possession_1.loc[(df_possession_1['Time'] == time) & (df_possession_1['Player'] == player), 'Carrier'] = True

In [39]:
df_possession_1.iloc[36]

Unnamed: 0           37
Possession            1
GPS                  12
Time               0.96
X             -2.956497
Y            -12.193437
Team                Att
Player              3.0
Frame               9.0
Position          960.0
ID                    3
Carrier            True
Name: 36, dtype: object

In [50]:
def distance(p1, p2):
    return np.sqrt((p1[0] - p2[0])**2 + (p1[1] - p2[1])**2)

def player_in_range(p1, p2):
    return distance(p1, p2) < 15

p1 = df_possession_1.iloc[2]
p2 = df_possession_1.iloc[2422]

print(player_in_range((p1['X'], p1['Y']), (p2['X'], p2['Y'])))

True