In [1]:
import pandas as pd
import numpy as np

### Les données LPS

In [15]:
fusion_3 = "../../basket/LPS/3_fusion.csv"
fusion_4 = "../../basket/LPS/4_fusion.csv"
lps_3 = pd.read_csv(fusion_3, sep=";")
lps_3

,timestamp,lat_brute,long_brute,latitude_fusion,longitude_fusion,hdop,vitesse_fusion,battery
0,1702478113100,NaN,NaN,NaN,NaN,-1.00,-1.000,0
1,1702478113200,NaN,NaN,NaN,NaN,-1.00,-1.000,0
2,1702478113300,NaN,NaN,NaN,NaN,-1.00,-1.000,0
3,1702478113400,NaN,NaN,NaN,NaN,-1.00,-1.000,0
4,1702478113500,NaN,NaN,NaN,NaN,-1.00,-1.000,0
...,...,...,...,...,...,...,...,...
87472,1702486860300,NaN,NaN,49.457994,1.062402,0.26,1.644,5
87473,1702486860400,NaN,NaN,49.457993,1.062404,0.28,1.673,5
87474,1702486860500,NaN,NaN,49.457993,1.062406,0.30,1.698,5
87475,1702486860600,NaN,NaN,49.457992,1.062409,0.32,1.709,5
87476,1702486860700,NaN,NaN,49.457992,1.062412,0.34,1.757,5

In [17]:
lps_4 = pd.read_csv(fusion_4, sep=";")
lps_4

,timestamp,lat_brute,long_brute,latitude_fusion,longitude_fusion,hdop,vitesse_fusion,battery
0,1702478113100,NaN,NaN,49.458017,1.062370,0.16,3.132,4
1,1702478113200,NaN,NaN,49.458015,1.062370,0.16,2.914,4
2,1702478113300,NaN,NaN,49.458014,1.062370,0.16,2.753,4
3,1702478113400,NaN,NaN,49.458013,1.062370,0.16,2.573,4
4,1702478113500,NaN,NaN,49.458011,1.062369,0.16,2.340,4
...,...,...,...,...,...,...,...,...
87472,1702486860300,NaN,NaN,49.458056,1.062345,0.13,0.977,4
87473,1702486860400,NaN,NaN,49.458057,1.062345,0.13,0.969,4
87474,1702486860500,NaN,NaN,49.458058,1.062346,0.13,0.981,4
87475,1702486860600,NaN,NaN,49.458058,1.062346,0.13,1.012,4
87476,1702486860700,NaN,NaN,49.458059,1.062347,0.12,1.041,4

In [18]:
fusion_5 = "../../basket/LPS/5_fusion.csv"
lps_5 = pd.read_csv(fusion_5, sep=";")
lps_5

,timestamp,lat_brute,long_brute,latitude_fusion,longitude_fusion,hdop,vitesse_fusion,battery
0,1702478113100,NaN,NaN,NaN,NaN,-1.0,-1.0,0
1,1702478113200,NaN,NaN,NaN,NaN,-1.0,-1.0,0
2,1702478113300,NaN,NaN,NaN,NaN,-1.0,-1.0,0
3,1702478113400,NaN,NaN,NaN,NaN,-1.0,-1.0,0
4,1702478113500,NaN,NaN,NaN,NaN,-1.0,-1.0,0
...,...,...,...,...,...,...,...,...
87472,1702486860300,NaN,NaN,NaN,NaN,-1.0,-1.0,0
87473,1702486860400,NaN,NaN,NaN,NaN,-1.0,-1.0,0
87474,1702486860500,NaN,NaN,NaN,NaN,-1.0,-1.0,0
87475,1702486860600,NaN,NaN,NaN,NaN,-1.0,-1.0,0
87476,1702486860700,NaN,NaN,NaN,NaN,-1.0,-1.0,0

### Les données tracking

In [20]:
team1_vague1_poss2_video1 = "../../basket/TRACKING/Equipe1_Vague1_Poss2_video_1.txt"
team1_vague1_poss2_video1_df = pd.read_csv(team1_vague1_poss2_video1, sep=",")
team1_vague1_poss2_video1_df

        0  0.1  10.7385311127  2.4233112335
0       0    1      10.758081      7.556952
1       0    2       9.685260      7.294818
2       0    3       6.877824      9.319980
3       0    4       5.604179      9.292738
4       0    5       6.155215      9.916403
...   ...  ...            ...           ...
3281  385    3       5.606390      1.841755
3282  385    4       0.658973      5.352539
3283  385    6       2.336708      9.233820
3284  385    7       2.905753      8.886047
3285  385    8       5.730912      0.984501

[3286 rows x 4 columns]