In [1]:
import pandas as pd
import numpy as np

### Les données LPS

In [2]:
fusion_3 = "../../basket/LPS/3_fusion.csv"
fusion_4 = "../../basket/LPS/4_fusion.csv"
lps_3 = pd.read_csv(fusion_3, sep=";")
lps_3

,timestamp,lat_brute,long_brute,latitude_fusion,longitude_fusion,hdop,vitesse_fusion,battery
0,1702478113100,NaN,NaN,NaN,NaN,-1.00,-1.000,0
1,1702478113200,NaN,NaN,NaN,NaN,-1.00,-1.000,0
2,1702478113300,NaN,NaN,NaN,NaN,-1.00,-1.000,0
3,1702478113400,NaN,NaN,NaN,NaN,-1.00,-1.000,0
4,1702478113500,NaN,NaN,NaN,NaN,-1.00,-1.000,0
...,...,...,...,...,...,...,...,...
87472,1702486860300,NaN,NaN,49.457994,1.062402,0.26,1.644,5
87473,1702486860400,NaN,NaN,49.457993,1.062404,0.28,1.673,5
87474,1702486860500,NaN,NaN,49.457993,1.062406,0.30,1.698,5
87475,1702486860600,NaN,NaN,49.457992,1.062409,0.32,1.709,5
87476,1702486860700,NaN,NaN,49.457992,1.062412,0.34,1.757,5

### Les données tracking

In [6]:
tracking_1_1_2_1 = "../../basket/TRACKING/Equipe1_Vague1_Poss2_video_1.txt"
tracking_df = pd.read_csv(tracking_1_1_2_1, header=None, names=["frame", "id", "x", "y"], sep=",")
tracking_df

      frame  id          x         y
0         0   0  10.738531  2.423311
1         0   1  10.758081  7.556952
2         0   2   9.685260  7.294818
3         0   3   6.877824  9.319980
4         0   4   5.604179  9.292738
...     ...  ..        ...       ...
3282    385   3   5.606390  1.841755
3283    385   4   0.658973  5.352539
3284    385   6   2.336708  9.233820
3285    385   7   2.905753  8.886047
3286    385   8   5.730912  0.984501

[3287 rows x 4 columns]

In [5]:
tracking_df["timestamp"] = tracking_df["frame"] / 25

tracking_df = tracking_df.dropna(subset=["latitude_fusion", "longitude_fusion"])

tracking_df["datetime"] = pd.to_datetime(tracking_df["timestamp"], unit="ms")

tracking_df = tracking_df.sort_values("datetime")
time_diffs = tracking_df["datetime"].diff().dropna().dt.total_seconds()

KeyError: ['latitude_fusion', 'longitude_fusion']

In [ ]:
tracking_df

,timestamp,lat_brute,long_brute,latitude_fusion,longitude_fusion,hdop,vitesse_fusion,battery,datetime
266,1702478139700,NaN,NaN,49.458047,1.062343,0.21,-1.000,5,2023-12-13 14:35:39.700
267,1702478139800,NaN,NaN,49.458045,1.062340,0.19,-1.000,4,2023-12-13 14:35:39.800
268,1702478139900,NaN,NaN,49.458045,1.062340,0.18,-1.000,4,2023-12-13 14:35:39.900
269,1702478140000,NaN,NaN,49.458045,1.062341,0.17,-1.000,4,2023-12-13 14:35:40.000
270,1702478140100,NaN,NaN,49.458045,1.062342,0.16,-1.000,4,2023-12-13 14:35:40.100
...,...,...,...,...,...,...,...,...,...
87472,1702486860300,NaN,NaN,49.457994,1.062402,0.26,1.644,5,2023-12-13 17:01:00.300
87473,1702486860400,NaN,NaN,49.457993,1.062404,0.28,1.673,5,2023-12-13 17:01:00.400
87474,1702486860500,NaN,NaN,49.457993,1.062406,0.30,1.698,5,2023-12-13 17:01:00.500
87475,1702486860600,NaN,NaN,49.457992,1.062409,0.32,1.709,5,2023-12-13 17:01:00.600
87476,1702486860700,NaN,NaN,49.457992,1.062412,0.34,1.757,5,2023-12-13 17:01:00.700

In [ ]:
fusion_3_track = tracking_df[tracking_df["id"] == 3]

In [ ]:
fusion_3_track

      frame  id         x         y
3         0   3  6.877824  9.319980
12        1   3  6.969496  9.305518
21        2   3  6.992512  9.343356
30        3   3  7.031557  9.400229
39        4   3  7.040776  9.476280
...     ...  ..       ...       ...
3253    381   3  5.730844  1.894935
3261    382   3  5.698042  1.883440
3268    383   3  5.661434  1.857994
3275    384   3  5.639479  1.852672
3282    385   3  5.606390  1.841755

[386 rows x 4 columns]